*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.home-container{
    /* display: grid; 
    min-height: 100vh;
    grid-template-rows: 4rem 1fr 1fr 1fr 5rem;
    grid-template-areas: 
    'header' 
    'banner'  
    'trends' 
    'images' 
    'footer';
}*/
.login{
    padding: 0.5rem;
    background-color: white;
    color: var(--secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login:hover{
    background-color: var(--emrald-dark);
    color: white;
}
li{
    margin: 0.5rem;
}
.btn-div{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.explore{
    padding: 0.7rem 3rem;
}
/* ****banner**** */
.banner{
    grid-area: 'banner';
    background-color: var(--light);
    padding: 2rem 1rem;
}
.banner img{
    
    display: block;
    width: 100%;
}
/* ******trends******* */
.trends{
    grid-area: 'trends';
    padding: 1rem 0;
    margin: 2rem 0;
    /* background-color: red; */
}
.heading{
    text-align: center;
 }
.trends-div,.images-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}
.child-div{
    max-width: 200px;    
}

/* ****images**** */
.images{
    margin: 2rem 1rem;
    border-top: 1px solid var(--basic);
}
.image-div{
    max-width: 30rem;
}

