.footer{
    background-color: #065f46;
}
.socials,.footer-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin: 1rem; */
}
.footer-header span{
    color: var(--secondary);
    font-family: 'Amarante', cursive;
}
.links{
    margin: 0.5rem 1rem;
}
.links:hover{
    color: var(--secondary);
}