@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import './login.css';
@import './footer.css';
@import './variables.css';
@import './sidebar.css';
@import './products.css';
@import './wishlist.css';
@import './cart.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex-grow: 1;
  
}
.main-container{
  display: flex;
}
.navbars{
  background-color: var(--secondary);
}
.brand-name:hover,
a:hover{
    color: var(--emrald-dark);
}