.wishlist-container{
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wishlisted{
    color: var(--danger);
}
.close{
    color: var(--basic);
}